body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.91);
  color: white;
  font-family: "SF Pro Display", sans-serif;
  background-image: repeating-linear-gradient(45deg, rgba(171, 173, 255, 0.019) 0, rgba(171, 173, 255, 0) 2px, transparent 0, transparent 50%);
  background-size: 32px 32px;
}

canvas {
    display: block;
    position: absolute; /* Position canvas over entire viewport */
    top: 0;
    left: 0;
    z-index: 1; /* Ensure canvas is above other elements */
    overflow: hidden;
  }

.maintext1 {
  position: absolute;
  margin: 0;
}

#grainy-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#gradient-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.968);
  pointer-events: none;
  pointer-events: none; /* Ensures mouse events pass through circles */
  filter: blur(110px);
  border-radius: 50%;
}

#c1 {
  top: 50%;
  left: 50%;
  background: rgba(12, 73, 255, 0.352);
}

#c2 {
  top: 20%;
  left: 20%;
  background: #ffb006a8;
}

#c3 {
  top: 80%;
  left: 80%;
  background: rgba(191, 50, 247, 0.442);
}

